[Unit]
Description=ContextNetServer
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/root
Environment="OSPL_HOME=/opt/OpenSplice/HDE/x86_64.linux"
Environment="PATH=$OSPL_HOME/bin:$PATH"
Environment="LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$OSPL_HOME/lib"
Environment="CPATH=$OSPL_HOME/include:$OSPL_HOME/include/sys:${CPATH:=}"
Environment="OSPL_URI=file://$OSPL_HOME/etc/config/ospl.xml"
Environment="JAVA_TOOL_OPTIONS=-Djava.library.path=/opt/contextNetServer/libs/OpenSplice/HDE/x86_64.linux/lib"
ExecStart=/usr/bin/contextNetServer
Restart=always

[Install]
WantedBy=multi-user.target